services:
  postgres:
    image: postgres
    container_name: jmfolio-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/MAJOR/docker
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U jmfolio"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data: